<%= form_for @group do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <%= f.submit @group.persisted? ? 'Update!' : 'Create Group!' %>
<% end %>