<%= form_for @group, html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :description %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :only_members, 'members only' %>
    <div class="controls">
      <%= f.check_box :only_members %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit @group.persisted? ? 'Update!' : 'Create Group!',
        class: 'btn' %>
    </div>
  </div>
<% end %>