<h4>Add to or Remove from Albums</h4>
<%= form_for @photo,
  :remote => true,
  :html => { :id => 'album_form' } do |f| %>
  <ul>
    <% @albums.each do |album| %>
      <li>
        <input
          type="checkbox"
          name="photo[album_ids][]"
          id="photo_album_ids_<%= album.id %>"
          value="<%= album.id %>"
          <%= "checked" if @photo.album_ids.include?(album.id) %>>
        <label for="photo_album_ids_<%= album.id %>"><%= album.name %></label>
      </li>
    <% end %>
  </ul>
  <input type="hidden" name="photo[album_ids][]" value="">
  <%= f.submit "update albums" %>
<% end %>

<script type="text/javascript">
  $("#album_form").on('ajax:success', function(event, response) {
    console.log(response);
    console.log('yay! updated albums for this photo!');
  });
</script>