<% if @photo.persisted? %>
  <img src="<%= @photo.image.url %>">
<% end %>

<div class="errors"><%= @errors %></div>
<%= form_for(@photo, :html => { :multipart => true }) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description%>
  </p>
  
  <%= f.file_field :image %>
  <%= f.submit @photo.persisted? ? 'Update!' : 'Upload!', class: 'btn' %>
<% end %>

<a
  href="#add_remove_albums"
  role="button" class="btn"
  data-toggle="modal">Add to Albums</a>
<div
  id="add_remove_albums"
  class="modal hide fade"
  role="dialog"
  aria-labelledby="add_remove_albums"
  aria-hidden="true">
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal">&times;</button>
    <h3>Add to Albums</h3>
  </div>
  <div class="modal-body">
    <ul>
      <% @albums.each do |album| %>
        <% li_class = @photo.album_ids.include?(album.id) ?
          'remove_from' : 'add_to' %>
        <li class="<%= li_class %> album" data-id="<%= album.id %>">
          <%= album.name %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="hidden">
      Close
    </button>
  </div>
</div>

<a
  href="#add_remove_groups"
  role="button" class="btn"
  data-toggle="modal">Add to Groups</a>
<div
  id="add_remove_groups"
  class="modal hide fade"
  role="dialog"
  aria-labelledby="add_remove_groups"
  aria-hidden="true">
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal">&times;</button>
    <h3>Add to Groups</h3>
  </div>
  <div class="modal-body">
    <ul>
      <% @groups.each do |group| %>
        <% li_class = @photo.group_ids.include?(group.id) ?
          'remove_from' : 'add_to'%>
        <li class="<%= li_class %> group" data-id="<%= group.id %>">
          <%= group.name %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="hidden">
      Close
    </button>
  </div>
</div>

<script type="text/javascript">
  $("#add_remove_albums li, #add_remove_groups li").on(
    "click", function (event) {
      var $thisLi = $(event.currentTarget);
      var itemId = $thisLi.attr('data-id');
      var itemType = $thisLi.hasClass('album') ? 'album' : 'group';
      var hiddenFieldId = "photo_" + itemType + "_ids_" + itemId;
    
      if ($thisLi.hasClass('add_to')) {
        $('form').append(
          "<input type='hidden' name='photo[" +
          itemType + "_ids][]' value='" + itemId +
          "' id='" + hiddenFieldId + "'>"
        );
      } else if ($thisLi.hasClass('remove_from')) {
        $('input#' + hiddenFieldId).remove();
      }
      $thisLi.toggleClass('add_to');
      $thisLi.toggleClass('remove_from');
  });
</script>