<div id="content" class="span8">
  <div class="photo">
    <img src="<%= @photo.image.url(:medium) %>">
  </div>
  <div>
    <h1><%= @photo.title %></h1>
    <p><%= @photo.description.html_safe unless @photo.description.nil? %></p>
  </div>
</div>
<div id="sidebar" class="span4">
  <div class="info">
    <% if @photo.owner %>
      <h3>
        <%= link_to @photo.owner.name, user_url(@photo.owner) %>
      </h3>
      <% is_hidden = !user_signed_in? || current_user == @photo.owner %>
      <% friended = user_signed_in? &&
        current_user.friends.include?(@photo.owner) %>
      <div class="friendship  
        <%= 'hidden' if is_hidden %>
        <%= friended ? 'friended' : 'not_friended'%>">
          <%= link_to 'Add Friend', user_friendship_url(@photo.owner.id),
            method: :post, remote: true, id: 'add_friend', class: 'btn' %>

          <%= link_to 'Unfriend', user_friendship_url(@photo.owner.id),
            method: :delete, remote: true,
            id: 'remove_friend', class: 'btn' %>
        </div>
      </h3>
      <% if @photo.owner == current_user %>
        <%= button_to 'delete',
            photo_url(@photo),
            method: :delete, class: 'btn' %>
      <% end %>
    <% else %>
      <h3>anonymous photographer</h3>
    <% end%>
    <p>Uploaded on <%= @photo.created_at.strftime("%B %e, %Y") %></p>
  </div>
  <%= render :partial => 'groups_form' %>
  
  <% if @albums %>
    <%= render :partial => 'albums_form' %>
  <% end %>  
</div>

<script type="text/javascript">
  $('.friendship a').on("ajax:success", function(){
    $('.friendship').toggleClass('friended');
    $('.friendship').toggleClass('not_friended');
  });
</script>