<div id="content">
  <div>
    <img src="<%= @photo.image.url(:medium) %>">
  </div>
  <div>
    <h1><%= @photo.title %></h1>
    <p><%= @photo.description.html_safe unless @photo.description.nil? %></p>
  </div>
</div>
<div id="sidebar">
  <%= render :partial => 'groups_form' %>
  
  <% if @albums %>
    <%= render :partial => 'albums_form' %>
  <% end %>
</div>

<div id="popup"></div>

<script type="text/javascript">
  new FlickrClone.Routers.Photos($('#sidebar'),
    $('#popup'),
    <%= @photo.id %>);
  Backbone.history.start();
</script>