<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class='nav'>
        <li><%= link_to 'you', "#" %></li>
        <li><%= link_to 'contacts', friends_url %></li>
        <li><%= link_to 'groups', "#" %></li>
        <li><%= link_to 'upload', new_photo_url %></li>
        <li>
          <% if user_signed_in? %>
            <%= button_to "Sign Out",
              destroy_user_session_url,
              :method => :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_url %> or 
            <%= link_to "Sign Up", new_user_registration_url %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>